<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Forgot your password?</title>
</head>
<body>
<h1>Forgot your password?</h1>

<form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">
    <div>
        <label for="email">E-mail</label>
        <input type="email" id="email" th:field="*{email}" required="required" />
    </div>
    <button type="submit">Send reset link</button>
</form>
</body>
</html>
